:root {
    --primary-color: #333333; /* text */
    --secondary-color: #ffffff; /* card background */
    --tertiary-color: #121112; /* buttons */
    --background-color: #000000; /* changed to black */
    --error-color: #EE3A23;
}

body.background {
    background-color: var(--background-color);
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--background-color);
    padding: 10px 20px;
    border-bottom: solid;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.center-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: var(--background-color);
    border: none;
    color: var(--secondary-color);
    padding: 10px 30px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #00c826;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    margin: 5px 0 0;
    font-size: 80px;
}

.logo {
    width: 400px;
    height: auto;
    margin-top: -30px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.social-icon img {
    width: 60px;
    height: auto;
    margin: 0 10px;
}

.card {
    background-color: #2a2a2a;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1200px;
}

.back-button-container,
.button-group {
    text-align: right;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.search-box,
.form-field input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.clients-table {
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--secondary-color); 
}

th {
    background-color: #4CAF50;
}

tr:hover {
    background-color: #3e3e3e;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.error {
    color: var(--error-color);
    display: none;
}

.message-display {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.about-page {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.about-page .content {
    font-size: 23px;
    line-height: 1.6;
    max-width: 900px;
    padding: 60px 60px 90px 60px;
    background-color: #333333;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 90px; 
}

.about-page .content h1 {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 40px;
}

.about-page .content .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #000000; /* Button color */
    color: white;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s; /* Animation */
}

.about-page .content .button:hover {
    background-color: #00c826; /* Darker button color on hover */
    transform: translateY(-3px); /* Subtle lift effect on hover */
}

.about-page .logo {
    width: 100px;
    height: auto;
    margin-top: 30px;
    transition: transform 0.3s;
}

.about-page .logo:hover {
    transform: rotate(360deg);
}

.about-page .logo-text {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.demo-page {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.demo-page .demo-content {
    font-size: 30px;
    line-height: 1.6;
    width: 60%;
    padding: 10px 80px 10px 60px;
    background-color: #333333;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.demo-page h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.demo-form .form-field input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.demo-page .submit-button {
    display: inline-block;
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.demo-page .submit-button:hover {
    background-color: #009a1f;
    transform: translateY(-3px);
}

.demo-page .logo-container {
    margin-top: 70px;
    text-align: center;
    margin-left: -20px;
}

.demo-page .logo {
    width: 80px;
    height: auto;
}

.demo-page .logo-text {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

